@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    background-color: #48dbfb;
    font-family: 'Quicksand', sans-serif;
}

header {
    text-align: center;
    background-color: #1a945b;
    color: #FFF;
    padding: 30px;
}

.content {
    padding: 1em 4em;
}

.products .product-list {
    padding-left: 0;
    list-style: none;
}

.products .product-list .product {
    margin: 1%;
    height: 500px;
    background-color: #FFF;
}

.products .product-list .img {
    width: 100%;
}

.products .product-list .product .product-content {
    padding: 2%;
}

.products .product-list .product .product-content h4 small {
    font-size: 10px;
}

.proudcts .product-list .product button {
    display: block;
    margin: 2% auto;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 15px;
    outline: none;
}

.cart .cart-list {
    padding-left: 0;
    list-style: none;
}

.cart .cart-list .item h4,
.cart .cart-list .item .close {
    display: inline;
}